/*
font-family: 'Lora', serif;
font-family: 'Cambria Bold', serif;

contact - #eac795
nav - #282929
headings - #ffc75f / 36 pt
text - #deddd9
*/

body {
	font-family: 'Cambria', serif;
	color: #deddd9;
}

.container {
	width: 975px !important;
}

.contacts .address {
	float: left;
	width: 350px;
}

.contacts .address p {
	color: #eac795;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 35px
}

.contacts .phone {
	float: right;
	width: 250px;
	text-align: right;
	margin-top: 25px;
}

.contacts .phone p {
	margin-bottom: 0px;
}

.contacts .phone a {
	color: #eac795;
	text-transform: uppercase;
	font-size: 18px;
}

.main-header .menu {
	position: relative;
	margin-top: 100px;
	background: url('../img/menu-bg.png') no-repeat;
	height: 64px;
}

.main-header .menu a.logo {
	position: absolute;
	display: block;
	width: 262px;
	height: 171px;
	top: -85px;
	left: 360px;
}

.main-header .menu ul li {
	display: inline-block;
	margin-left: 35px;
	margin-top: 20px;
}

.main-header .menu ul li a{
	font-family: 'Cambria', serif;
	font-size: 14px;
	color: #282929;
	font-weight: bold;
	text-transform: uppercase;
}

.main-header .menu ul li:first-child {
	margin-left: 0;
}

.main-header .menu ul.left-items,
.main-header .menu ul.right-items {	display: inline-block; }
.main-header .menu ul.left-items { float: left; }
.main-header .menu ul.right-items { float: right; margin-right: 80px; }

/*******************************teaser*/

.main-header {
	background: url('../img/header-bg.jpg') repeat;
	height: 825px;
}

.main-header .teaser {
	position: relative;
	background: url('../img/teaser-bottom.png') repeat-x;
	background-position-y: 466px;
	height: 645px;
	margin-top: 48px;
}

.main-header .teaser-image {
	width: 960px;
	height: 468px;
	margin: 0 auto;
}

.main-header .teaser-image img {
	padding-left: 5px;
}

.main-header .teaser-image:after {
	content: "";
	position: absolute;
	top: -5px;
	background: url('../img/teaser-image-bg-top.png') top no-repeat,
				url('../img/teaser-image-bg-left.png') left 9px no-repeat,
				url('../img/teaser-image-bg-right.png') right 9px no-repeat;
	width: 968px;
	height: 473px;
}

.main-header .teaser-items {
	position: relative;
}

.main-header .teaser-items ul {
	margin-left: -20px;
}

.main-header .teaser-items ul li {
	display: inline-block;
	width: 180px;
	height: 183px;
	text-align: center;
	vertical-align: middle;
	margin-top: -120px;
	margin-right: 7px;
}

.main-header .teaser-items ul li:last-child {
	margin-right: 0;
}

.main-header .teaser-items ul li a img {
	padding-bottom: 20px;
}
.main-header .teaser-items ul li a {
	font-family: 'Cambria Bold', serif;
	font-size: 16px;
	color: #282929;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	width: 150px;
}

.main-header .teaser-items:before {
	content: "";
	position: absolute;
	background: url('../img/teaser-ornament.png') no-repeat;
	width: 100px;
	height: 36px;
	top: -34px;
	left: -100px;
}

.main-header .teaser-items:after {
	content: "";
	position: absolute;
	background: url('../img/teaser-ornament.png') no-repeat;
	width: 100px;
	height: 36px;
	top: -34px;
	right: -110px;

	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.content {
	background: url('../img/content-bg.jpg') repeat;
	margin-top: -20px;
	padding-top: 60px;
}

.content h1 {
	font-family: 'Lora', serif;
	font-size: 36px;
	text-transform: uppercase;
	color: #ffc75f;
	text-align: center;
	margin-bottom: 35px;
}

.content h1:before {
	display: inline-block;
	content: "";
	width: 70px;
	height: 29px;
	background: url('../img/heading-style.png') no-repeat;
	margin-right: 35px;
}

.content h1:after {
	display: inline-block;
	content: "";
	width: 70px;
	height: 29px;
	background: url('../img/heading-style.png') right no-repeat;
	margin-left: 35px;

	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}


.content p {
	font-family: 'Cambria', serif;
	font-size: 18px;
	color: #deddd9;
	width: 700px;
	margin: 0 auto;
	text-align: center;
}

.line {
	background: url('../img/line.png') no-repeat;
	width: 580px;
	height: 42px;
	margin: 60px auto;
}

.features ul li {
	font-size: 24px;
	list-style: none;
	padding-bottom: 40px;
	padding-left: 40px;
}

.features ul li.symb1 { background: url('../img/features-symb-1.png') left 5px no-repeat; }
.features ul li.symb2 { background: url('../img/features-symb-2.png') left 5px no-repeat; }
.features ul li.symb3 { background: url('../img/features-symb-3.png') left 5px no-repeat; }
.features ul li.symb4 { background: url('../img/features-symb-4.png') left 5px no-repeat; }
.features ul li.symb5 { background: url('../img/features-symb-5.png') left 5px no-repeat; }

#teaser-slider {
	background: url('../img/slider-bg.png') no-repeat;
	width: 975px;
	height: 465px;
}

#teaser-slider .carousel-inner .item img {
	display: inline-block;
	width: 396px;
	height: 264px;
	margin-top: 50px;
	margin-left: 60px;
	border-radius: 5px;
}

#teaser-slider .carousel-indicators {
	bottom: 70px;
}

#teaser-slider .carousel-indicators li {
	background: url('../img/slider-point.png') no-repeat;
	width: 25px;
	height: 25px;
	border: none;
	margin: 0;
}

#teaser-slider .carousel-indicators li.active {
	background: url('../img/slider-actpoint.png') no-repeat;
	width: 25px;
	height: 25px;
	border: none;
}

.contact { 
	margin-top: 60px;
	height: 360px;
	background: url('../img/footer-style.png') bottom no-repeat;	
}

.contact form {
	float: left;
	width: 480px;
	margin-bottom: 100px;
}

.contact p {
	float: right;
	width: 400px;
	font-size: 14px;
	text-align: left;
	padding-bottom: 20px;
}

.contact form label {
	width: 110px;
	color: #ffc75f;
	font-family: 'Cambria', serif;
	font-size: 16px;
	font-weight: normal;
}

.contact form input,
.contact form textarea {
	background-color: rgba(255,255,255,0);
	border-radius: 5px;
	border: 2px solid #ffc75f;
	padding: 5px 7px;
	margin: 15px 0;
	vertical-align: top;
	margin-top: -5px;
	width: 260px;
	outline-color: #be8b5e;
}

.contact form textarea {
	width: 320px;
	height: 150px;
}

.contact form input.btn {
	width: 150px;
	background-color: #ffc75f;
	color: #282929;
	float: right;
	margin-right: 46px;
}

.contact form input.btn:hover {
	background-color: #282929;
	color: #ffc75f;
}

footer {
	background: url('../img/footer-bg.jpg') repeat-x;
	height: 157px;
	padding: 40px 0;
}

footer p {
	padding-top: 30px;
	float: right;
	color: #282929;
	font-size: 16px;
	letter-spacing: -1px;
}

footer .logo-footer {
	background: url('../img/footer-logo.png') no-repeat;
	float: left;
	width: 170px;
	height: 79px;
}